*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  background-color: rgb(8,8,25);
  transition: 0.5s; 
}
.access{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.access input{
  border: none;
  outline: none;
  padding: 3px 5px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px 0;
  width: 60%;
  border-radius: 3px;
  background-color: rgb(202, 202, 202);
}
.links{
  color: white;
  text-decoration: none;
}